*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0px;
    background: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: aliceblue;
    font-size: 35px;
    font-weight: 600;

}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    color: aliceblue;
    font-weight: 500;
    font-size: 18px;
    margin-left: 15px;
    transition: color 0.3s ease;
}
navbar .menu li a:hover {
    color: cyan;

}
.Home {
    display:flex;
    background: url("images/1637321740174.jpg") no-repeat center;
    height: 100vh;
    color: cadetblue;
    min-height: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.Home .max-width {
    margin: auto 0 auto 40px;
}
.Home .Home-content .greetings {
    font-size: 27px;
}
.Home .Home-content .name {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.Home .Home-content .text-1 {
    font-size: 40px;
    margin: 5px 0;

}